.cor1{
    background-color: #cdbba2 ;
}
.cor2{
    background-color: #DFA653 ;
}
.cor3{
    background-color: #FFB53E ;
}
.cor4{
    background-color: #FED8A9;
}
.cor5{
  background-color: #afe233;
}
.cor6{
    background-color: #b4dc6b ;
}
.cor7{
    background-color: #4e920b;

}
.cor8{
    background-color: #648513 ;
}
.cor9{
    background-color: #5a7b1d ;

}
.cor10{
    background-color: #4c8e0a;

}
.cor11{
    background-color: #914c57 ;

}
.cor12{
    background-color: #e27285 ;
}
.cor13{
    background-color: #f0a2ac ;
}
.corCerta{
    background-color: #16453f;
}
.corCerto{
    background-color: #a8a39d
}
